/**
 * general stuff
 */
 
body {
    color: #5c5c5c;
    font-size:12px;
    padding: 0px;
    margin: 0px;
    font-family: Verdana,Arial,Helvetica,"DejaVu Sans",sans-serif;
}

/* links */

a {
    text-decoration: none;
    color: #3A6EA0;
}
a:link {
    color: #396EA2;
}
a:visited {
    color: #396EA2;
}
a:hover {
    text-decoration: none;
}
a:active {
    color: #6386A4;
}


/* images */

img {
    border: 0px;
}


/* headlines */

h2 {
    font-size: 16px;
    font-family: verdana;
    font-weight: bold;
    color: #545454;
}

h3 {
    font-size: 12px;
    font-family: verdana;
    color: #6386A4;
    font-style: normal;
    font-weight: normal;
}

/* div-containers which looks likes buttons */

.btn-submit {
    background-color: #DFE8EF;
    height:20px;
    width:55px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #B8BBC0;
    cursor: pointer;
}

.btn-close {
    height:20px;
    width:45px;    
    padding: 5px;
    font-size: 15px;
    border: 1px solid #B8BBC0;
    cursor: pointer;
}


/* main container which contains all the content */
#wrapper { 
    width: 100%; 
    margin: 0px; 
    padding: 0px;
}


/** 
 * header related stuff ------------------------------------------------
 */
#header { 
    float: left; 
    width: 100%;
    height: 116px; 
    display: block; 
    clear: both; 
    border: 0px;
    background-color: #FFFFFF;
    border-bottom: 1.5px solid #6A7DA8;
    padding-bottom: 15px;
}

#header-logo {
    float:left;
    margin-top: 20px;
    margin-left: 80px;
    position:absolute;
    width: 160px;
    z-index: 10;
}

#header-headline {
    position:absolute;
    left:310px;
    top:65px;
    
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #0065A2;
    text-decoration: none;
}

#header-abstract {    
    position:absolute;
    left:310px;
    top:104px;
    z-index: 5;
    
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

#header-blueblock {
    clear: both; 
    z-index: 1; 
    height: 32px; 
    width: 100%; 
    top: 100px; 
    left: 0px; 
    position: absolute; 
    background-image: url(../images/blue_block.jpg); 
    vertical-align: text-bottom;
}

#header-menu-right {
    float:right;
    font-size:12px;
    margin-top: 2px;
    margin-right: 8px;
    color: #0065A2;
    width: auto;
    text-align: right;
}

/***************************
 * Language drop down menu *
 * TODO need refactoring   *
 ***************************/

#edit-lang-dropdown-select_msdd {
    width: 130px;
    margin-top: 0px;
    float:right;
}

#edit-lang-dropdown-select_arrow {
    background-position: 0px 0px;   
    background: url(../images/arrows-down.gif) no-repeat 0 0;
    background-image: url(../images/arrows-down.gif);
    width: 13px;
    float: right;
    margin-left: 5px;
    cursor: pointer;
}

#edit-lang-dropdown-select_title {
    border: 1px solid #C3C3C3;
    height: 18px;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 2px;
    line-height: 16px;
    font-size: 90%;
}

#edit-lang-dropdown-select_child {  
    border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
    z-index: 30;
    color: #000000;
    text-align: left;
}

.edit-lang-dropdown-select_child-item {  
    width: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
    z-index: 30;
}

.edit-lang-dropdown-select_child-item a {  
    color: #000000;
}

.edit-lang-dropdown-select_child-item:hover {  
    background-color: #D9E9FF;
    z-index: 30;
}

/**
 * content related stuff -----------------------------------------------
 */
 
#content-wrapper { 
    float: left; 
    width: 100%; 
    margin: 0px; 
    padding: 0px;
    display: block; 
    clear: both; 
    border: 0px;
}

#sidebar-left-arrow {
    position: absolute;
    top: 140px;
    left: 205px;
}

#sidebar-left-arrow img {
    height: 12px;
}

#sidebar-right-arrow {
    position: absolute;
    top: 140px;
    left: 8px;
    display: none;
}

#sidebar-right-arrow img {
    height: 12px;
}

#sidebar-left { 
    position: absolute;
    top: 120px;
    width: 200px;
    height: 87%;
    bottom: 0px;
    border: 0px;
    border-right: 1px solid #D8D8D8;
    background-color: #EEEEEE;
    z-index: -1;
}


/* Data Selection */
 
#sidebar-left-data-selection {
    margin-top: 25px;
    margin-left: 15px;
    background-color: #FBFFFF;
    
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
}

#sidebar-left-data-selection-wrapper {
    background-color: #FBFFFF;
    padding-left: 13px;
    padding-top: 0px;
    padding-bottom: 13px;
}

#sidebar-left-data-selection-title {
    font-size: 12px;
}

#sidebar-left-data-selection-strcsets {
    margin-top: 55px;
    clear: both;
}

#sidebar-left-data-selection-strc {
    margin-top: 6px;
    font-size: 11px;
    width: 160px;
    border: 1px solid #B8BBC0;
    background-color: #EBEBEB;
    padding: 4px;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

#sidebar-left-data-selection-strc:hover,
#sidebar-left-data-selection-sets:hover {
    background-color: #E6E3E3;
}

#sidebar-left-data-selection-sets {
    margin-top: 5px;
    font-size: 11px;
    width: 160px;
    border: 1px solid #B8BBC0;
    background-color: #EBEBEB;
    padding: 4px;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

#sidebar-left-data-selection-dims {
    margin-top: 10px;
}

#sidebar-left-data-selection-dims-boxes {
    margin-top: -15px;    
    border: 0;
    height: auto;
}

input.sidebar-left-data-selection-dims-box {
    float:left;
    margin-top: 20px;
}

.sidebar-left-data-selection-dims-box-seperator {
    margin-top: 5px;
    clear: both;
}

.sidebar-left-data-selection-dims-box-lblabs {
    margin-left: 10px;
}

.sidebar-left-data-selection-dims-box-label {
    font-size: 11px;
    color: #5C5D5F;
    float: left;
    margin-top: 19px;
    text-transform:capitalize;
}

.sidebar-left-data-selection-dims-box-abstract {
    clear:both;
    font-size: 10px;
    color: #829BB9;
    cursor: pointer;
}

.sidebar-left-data-selection-dims-box-abstract-img,
.sidebar-left-data-selection-meas-box-abstract-img {
    width: 12px;
    float: left;
    text-align: right;
    margin-top: 5px;
    margin-left: 12px;
}


/** Measure */
 
#sidebar-left-data-selection-meas {
    padding-top:15px;
    clear: both;
}

.sidebar-left-data-selection-meas-box-seperator {
    margin-top: 5px;
    clear: both;
}

.sidebar-left-data-selection-meas-box {
    float: left;
}

.sidebar-left-data-selection-meas-box-label {
    float: left;
    font-size: 11px;
    margin-top: 3px;
    margin-left: 10px;
    color: #5C5D5F;
}

.sidebar-left-data-selection-meas-box-abstract {
    font-size: 10px;
    margin-top: 3px;
    margin-left: 10px;
    color: #829BB9;
    cursor: pointer;
}

#sidebar-left-data-selection-submitbtn-box {
    clear: both;
    padding-top: 10px;
    margin-right: 5px;
    text-align: center;
}

#sidebar-left-data-selection-submitbtn {
    background-color: #536D88;
    border: 0;
    color: #F5F5F5;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}


#sidebar-left-page-selection {

    margin-top: 5px;
    margin-left: 15px;
    background-color: #FBFFFF;
    
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
}

#sidebar-left-page-selection ul {
    list-style-type: none;
    margin-left: -5px;
}

a.sidebar-left-page-selection-nopage {
    color: #5C5C5C;
}

.page-link {
    margin-top: 5px;
    cursor: pointer;
}

/** Chart Selection */

#sidebar-left-chart-selection {
    background-color: #DFE8EF;
    margin-left: 15px;
    margin-top: 6px;
    width: 184px;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    border: 1px solid #D8D8D8;
}

#sidebar-left-chart-selection-wrapper {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar-left-chart-selection-title {
    font-size: 15px;
    font-family: verdana;
    font-weight: bold;
    color: #6386A4;
}

#content {
    position: absolute;
    top: 150px;
    left: 210px;
    right: 80px;
    height: 80%;
}

#site-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1A1A1A;
    opacity: 0.5;
    z-index: 10;
    display: none;
}

#container {
    height: 100%;
    width: auto;
}

#chart-selection {
    position: absolute;
    right:0px;
    top: 120px;
    bottom: 0px;
    width: 64px;
    height: 87%;
    border-left: 1px solid #D8D8D8;
    background-color: #EEEEEE;
}

#chart-selection-container {
    position: absolute;
    right:13px;
    top: 20px;
    width: 50px;
    border: 1px solid #D8D8D8;
    background-color: #FFFFFF;
}


#chart-selection img {
    float: none;
    width: 27px;
    margin: 10px;
    margin-left: 10px;
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}



/**
 * Dialogs -------------------------------------------------------------
 */
 
.dialog {
	z-index: 1000;
    position: absolute;
    top: 170px;
    left: 300px;
    height: 60%;
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: #EEEEEE;
    border: 1px solid #6A7D8C;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

.dialog-header {
	margin-top: 2px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dialog-header-label {
    float: left;
    font-size: 16px;
    font-family: verdana;
    font-weight: bold;
    color: #545454;
	margin-top: 3px;
    margin-left: 0px;
}

.dialog-header-label-warning {
    float: left;
    font-size: 12px;
    font-weight: normal;
    color: #A52A2A;
    margin-top: 5px;
    margin-left: 15px;
    display: none;
}

/**
 * This is the submit button actually
 * naming need refactoring!
 */
.dialog-btn-close {
    float:right;
    margin-top: 3px;
    border: 1px solid #BFBFBF;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 5px;
    cursor: pointer;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

.dialog-components {
    margin-top: 30px;
    height: 90%;
    width: 100%;
    background-color: #FFFFFF;
    overflow-y:scroll;
}

.dialog-components ul {
    list-style-type: none;
    margin-left: -5px; 
}

.dialog-components li {
    margin-bottom: 5px;
}

/*********************
 * Dimension Options *
 *********************/
 
.dialog-options-dimension {
    z-index: 1000;
    position: absolute;
    top: 170px;
    left: 500px;
    height: auto;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: #EEEEEE;
    border: 1px solid #6A7D8C;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

/**
 * This is the submit button actually
 * naming need refactoring!
 */
.dialog-options-dimension-btn-close {
    margin-top: 5px;
    float:right;
    border: 1px solid #BFBFBF;
    background-color: #FFFFFF;
    padding: 6px;
    cursor: pointer;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

/**************************
 * Measure options dialog *
 **************************/

.dialog-options-measure {
    position: absolute;
    top: 170px;
    left: 200px;
    height: auto;
    width: 250px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: #EEEEEE;
    border: 1px solid #6A7D8C;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

/**
 * This is the submit button actually
 * naming need refactoring!
 */
.dialog-options-measure-btn-close {
    float:right;
    margin-top: 30px;
    margin-right: 30px;
    border: 1px solid #BFBFBF;
    background-color: #FFFFFF;
    padding: 6px;
    cursor: pointer;
}

.dialog-options-dimension-items-floatblock {
    float: left;
    margin-right: 10px;
}

/**
 * Styling different chart selection types
 */
 
.chart-table {
    border-spacing: 0px;
	border-collapse: separate;
    width: 90%;
}
 
.chart-table th {
    font-weight: bold;
    border-bottom: 1px solid #000000;
    text-align: center;
}
 
.chart-table tr {
}

.chart-table tr:hover {
    background-color: #F1FBFD;
}
 
.chart-table td {
    font-weight: normal;
    border-bottom: 1px solid #000000;
    text-align: center;
    padding: 5px;
}


#header-menu{
	float: right;
	margin-right: 10px;
	margin-top: -10px;
}

#header-menu ul li.leaf{
	display: inline;
	background: url("../images/services-separator.gif") transparent left center no-repeat;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-right: 1px;
}

#header-menu ul li.first{
	background-image: none;
}

#header-menu a{
	font-weight: normal;
	line-height: 1.4;
	font-size: 90%;
}

/* language selection */

#header-language {
    float: right;
    margin: -1px 1px 0 0;
}

.dd {
    background-color: #FFFFFF;
    color: #396EA2;
    float: left;
    font-size: 100%;
    line-height: 1.4;
    text-align: left;
}
.dd .ddTitle {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C3C3C3;
    cursor: default;
    height: 16px;
    margin: 2px 0 0;
    overflow: hidden;
    padding: 1px 0 1px 3px;
    text-indent: 0;
}
.dd .ddTitle span.arrow {
    background: url("arrows-down.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 16px;
    width: 16px;
}
.dd .ddTitle span.ddTitleText {
    line-height: 16px;
    overflow: hidden;
    text-indent: 1px;
}
.dd .ddTitle span.ddTitleText img {
    padding: 0 2px 0 0;
    text-align: left;
}
.dd .ddTitle img.selected {
    padding: 0 3px 0 0;
    vertical-align: top;
}
.dd .ddChild {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #C3C3C3 #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
    position: absolute;
    width: auto;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {
    padding-left: 10px;
}
.dd .ddChild a {
    color: #000000;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 2px 0 2px 3px;
    text-decoration: none;
    white-space: nowrap;
}
.dd .ddChild a:hover {
    background-color: #DDEEFF;
}
.dd .ddChild a img {
    border: 0 none;
    padding: 0 2px 0 0;
    vertical-align: middle;
}
.dd .ddChild a.selected {
    background-color: #DDEEFF;
}
.hidden {
    display: none;
}
.dd .borderTop {
    border-top: 1px solid #C3C3C3 !important;
}
.dd .noBorderTop {
    border-top: 0 none !important;
}
.dd2 {
    background-color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: left;
}
.dd2 .ddTitle {
    background: url("msDropDown.gif") no-repeat scroll 0 0 transparent;
    cursor: default;
    height: 36px;
    overflow: hidden;
    padding: 0 3px;
    text-indent: 0;
}
.dd2 .ddTitle span.arrow {
    background: url("icon-arrow.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 27px;
    position: relative;
    right: 2px;
    top: 5px;
    width: 27px;
}
.dd2 .ddTitle span.ddTitleText {
    color: #FFFFFF;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 33px;
    overflow: hidden;
    text-indent: 1px;
}
.dd2 .ddTitle span.ddTitleText img {
    padding: 0 2px 0 0;
    text-align: left;
}
.dd2 .ddTitle img.selected {
    padding: 0 2px 0 0;
    vertical-align: top;
}
.dd2 .ddChild {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #C3C3C3 #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    font-size: 14px;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
    position: absolute;
    width: auto;
}
.dd2 .ddChild .opta a, .dd2 .ddChild .opta a:visited {
    padding-left: 10px;
}
.dd2 .ddChild a {
    color: #000000;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 3px 0 3px 3px;
    text-decoration: none;
    white-space: nowrap;
}
.dd2 .ddChild a:hover {
    background-color: #66CCFF;
}
.dd2 .ddChild a img {
    border: 0 none;
    padding: 0 2px 0 0;
    vertical-align: middle;
}
.dd2 .ddChild a.selected {
    background-color: #66CCFF;
}
.dd2 .borderTop {
    border-top: 1px solid #C3C3C3 !important;
}
.dd2 .noBorderTop {
    border-top: 0 none !important;
}



