/**
 * Chart configuration
 * 
 * Each key represents the "maximum" number of multiple dimensions which can
 * be represents by one of the items in charts-array. That means, a bar chart
 * which has maximum number of two is also able to display only one dimension.
 */
var CubeViz_ChartConfig = {
    
    /**
     * No multiple dimensions
     */
    "0": {
    },
    
    /**
     * One multiple dimensions
     */
    "1": {
        "charts": [
            {
                "label": "bar",
                "class": "Bar",
                "icon": "bar.png",
                
                "defaultConfig": {
                    "chart": { 
                        "renderTo": "container",
                        "type": "bar"
                    },
                    "plotOptions": {
                        "series": {
                            "stacking": "normal"
                        }
                    }
                },
                
                "options": [
                    {
                        "labels": {
                            "en": "Type"
                        },
                        "values": [
                            "bar", "column"
                        ],
                        "key": "chart.type",
                        "type": "string"
                    },
                    {
                        "labels": {
                            "en": "Stacking"
                        },
                        "values": [
                            "normal",
                            "none"
                        ],
                        "key": "chart.plotOptions.stacking",
                        "type": "array"
                    }
                ]
            },
            {
                "label": "pie",
                "class": "Pie",
                "icon": "pie.png",
                
                "defaultConfig": {
                    "chart": { 
                        "renderTo": "container",
                        "type": "pie"
                    }
                },
                
                "options": [
                    {
                        "labels": {
                            "en": "Color"
                        },
                        "values": [
                            "bar", "column"
                        ],
                        "key": "chart.type",
                        "type": "string"
                    }
                ]
            }
        ]
    },
    
    /**
     * Two multiple dimensions
     */
    "2": {
        "charts": [
            {
                "label": "bar",
                "class": "Bar",
                "icon": "bar.png",
                
                "defaultConfig": {
                    "chart": { 
                        "renderTo": "container",
                        "type": "bar"
                    },
                    "plotOptions": {
                        "series": {
                            "stacking": "normal"
                        }
                    }
                },
                
                "options": [
                    {
                        "labels": {
                            "en": "Type"
                        },
                        "values": [
                            "bar", "column"
                        ],
                        "key": "chart.type",
                        "type": "string"
                    },
                    {
                        "labels": {
                            "en": "Stacking"
                        },
                        "values": [
                            "normal",
                            "none"
                        ],
                        "key": "chart.plotOptions.stacking",
                        "type": "array"
                    }
                ]
            },
            {
                "label": "bar",
                "class": "Bar",
                "icon": "bar.png",
                
                "defaultConfig": {
                    "chart": { 
                        "renderTo": "container",
                        "type": "bar"
                    },
                    "plotOptions": {
                        "series": {
                            "stacking": "normal"
                        }
                    }
                },
                
                "options": [
                    {
                        "labels": {
                            "en": "Type"
                        },
                        "values": [
                            "bar", "column"
                        ],
                        "key": "chart.type",
                        "type": "string"
                    },
                    {
                        "labels": {
                            "en": "Stacking"
                        },
                        "values": [
                            "normal",
                            "none"
                        ],
                        "key": "chart.plotOptions.stacking",
                        "type": "array"
                    }
                ]
            }
        ]
    }
};
