/**
 *
 */
#cubeviz-Index-DialogboxHeadline {
    display: none;
    z-index: 100;
}

/**
 * Questionmark next to Model label
 */
#cubeviz-Index-questionMarkHeadline {
    cursor: pointer;
    opacity:0.2;
    filter:alpha(opacity=20);
}

#cubeviz-Index-questionMarkHeadline:hover {
    cursor: pointer;
    opacity:0.5;
    filter:alpha(opacity=50);
}
