/**
 * GENERAL
 */
.cubeviz-clickable {
    cursor: pointer;
}

/**
 * ICONS
 */
.cubeviz-icon-micro {
    width: 12px;
    border: 0px;
    vertical-align: middle;
}

.cubeviz-icon-minimal {
    width: 15px;
    border: 0px;
    vertical-align: middle;
}

.cubeviz-icon-small {
    width: 20px;
    border: 0px;
    vertical-align: middle;
}

.cubeviz-icon-normal {
    width: 30px;
    border: 0px;
    vertical-align: middle;
}

/**
 * UNORDERED LISTS
 */
.cubeviz-ul-basic {
    margin-left: 2px; 
    list-style-type: none;
}

.cubeviz-ul-basic li {
    margin-top: 5px;
}
