/**
 * GENERAL
 */
.cubeviz-clickable {
    cursor: pointer;
}

/**
 * ICONS
 */
.cubeviz-icon-micro {
    width: 12px;
    border: 0px;
    vertical-align: middle;
}

.cubeviz-icon-minimal {
    width: 15px;
    border: 0px;
    vertical-align: middle;
}

.cubeviz-icon-small {
    width: 20px;
    border: 0px;
    vertical-align: middle;
}

.cubeviz-icon-normal {
    width: 30px;
    border: 0px;
    vertical-align: middle;
}

/**
 * UNORDERED LISTS
 */
.cubeviz-ul-basic {
    margin-left: 2px; 
    list-style-type: none;
}

.cubeviz-ul-basic li {
    margin-top: 5px;
}

/**
 * FORMULAS
 */
.cubeviz-minibutton
{
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;    
    border: 1px solid #C4C4C4;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}

.cubeviz-button
{
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;    
    border: 1px solid #656565;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}
