.cubeviz-component-title 
{
    font-weight: bold;
    font-size: 13px;
}

.cubeviz-component-box 
{
    margin-top: 9px;
    margin-left: 4px;
}

.cubeviz-component-setupComponentElements{
    list-style-type: none;
    padding: 0px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
    min-height: 290px;
    height: 290px;
    max-height: 290px;
    width: 100%;
    overflow-y:scroll;
}

.cubeviz-component-setupComponentElements li{
    
}
