.cubeviz-component-title 
{
    font-weight: normal;
    font-size: 15px;
}

.cubeviz-component-box 
{
    margin-top: 9px;
    margin-left: 4px;
}

.cubeviz-component-setupComponentElements
{
    border: 1px solid #D0D0D0;
    list-style-type: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 290px;
    height: 290px;
    max-height: 290px;
    width: 98%;
    overflow-y:scroll;
}

.cubeviz-component-setupComponentElements li
{
    margin-top: 4px;
    margin-left: 4px;
}
