#cubeviz-footer-container
{
    float: none; 
    clear: both; 
    margin-top: 15px; 
    margin-left: 0px; 
    margin-bottom: 5px; 
    margin-right: 0px; 
    padding: 0px; 
    width: 100%; 
    min-width: 100%; 
    max-width: 100%;
}

#cubeviz-footer-permaLink
{
    font-weight: bold;
    vertical-align: middle;
}

#cubeviz-footer-permaLinkButton
{
    font-weight: bold;
}
