.cubeviz-component-box 
{
    clear:               both;
    padding-top:          5px;
    height:              auto;
    display:            block;
}

#cubviz-component-container
{
    clear:    both;
    display: block;
}

.cubeviz-legend-componentDimensionInfoList
{
    list-style-type: none;
}
