#cubeviz-dataSelectionModule-dataSelection
{
    margin-top: 5px;
}

.cubeviz-dataSelectionModule-smallDescription
{
    color:      #696969; 
    font-size:  11px;
}

.cubeviz-dataSelectionModule-dialogSortButtonSelected
{
}

.cubeviz-dataSelectionModule-dialogElements
{
    border:             1px solid #D0D0D0;
    list-style-type:    none;
    padding-top:        5px;
    padding-left:       10px;
    padding-right:      0px;
    padding-bottom:     10px;
    margin-left:        0px;
    margin-top:         10px;
    margin-bottom:      10px;
    
        height:         290px;
    max-height:         290px;
    min-height:         290px;
    
    width:              98%;
    
    overflow-y:         scroll;
}

.cubeviz-dataSelectionModule-dialogElements li
{
    margin-top:     4px;
    margin-left:    4px;
}

#cubeviz-dataSelectionModule-spinner
{
    display:    none;
    width:      100%;
    text-align: center;
}

.cubeviz-dataSelectionModule-visualSeparator
{
    clear:          both; 
    padding-top:    15px; 
    padding-bottom: 11px;
}

.cubeviz-dataSelectionModule-visualSeparator hr
{
    background: #DADADA;
    border:     0px; 
    height:     1px; 
}


