#cubeviz-dataSelectionModule-dataSelection
{
    margin-top: 5px;
}

#cubeviz-dataSelectionModule-spinner
{
    display:    none;
    width:      100%;
    text-align: center;
}

.cubeviz-dataSelectionModule-visualSeparator
{
    clear:          both; 
    margin-bottom:  16px;
    padding-top:    7px; 
}

.cubeviz-dataSelectionModule-visualSeparator hr
{
    background: #DADADA;
    border:     0px; 
    height:     1px; 
}


