#cubeviz-dataSet-list
{
        width:              195px;
    min-width:              195px;
    max-width:              195px;    
    background:             #f9f9f9;
    color:                  #000;
    display:                inline-block;
    border:                 1px solid #ccc;
    border-radius:          4px;
    border-image:           initial;
    margin-bottom:          0.5em;
    box-sizing:             border-box;
    white-space:            pre;
    letter-spacing:         normal;
    word-spacing:           normal;
    text-transform:         none;
    text-indent:            0px;
    text-shadow:            none;
    text-align:             start;
    -webkit-writing-mode:   horizontal-tb;  
    -webkit-rtl-ordering:   logical;
    -webkit-box-align:      center;
    -webkit-appearance:     menulist;
}

#cubeviz-dataSet-label
{
    clear:          both;
    font-weight:    bold; 
}
