#cubeviz-footer-container
{
    clear: both;
    margin-left: 0px; 
    margin-bottom: 5px; 
    margin-right: 0px; 
    padding: 0px; 
    width: 100%; 
    min-width: 100%; 
    max-width: 100%;
}

#cubeviz-footer-permaLink
{
    font-weight: bold;
    vertical-align: middle;
}

#cubeviz-footer-permaLinkButton
{
}

#cubeviz-footer-permaLinkMenu
{
    background-color: #FFFFFF;
    position: absolute;
    z-index: 10000;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    min-height: 18px;
    display: none;
    border: 1px solid #BDBDBD;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}
