/* div-containers which looks likes buttons */

.btn-submit {
    background-color: #DFE8EF;
    height:20px;
    width:55px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #B8BBC0;
    cursor: pointer;
}

.btn-close {
    height:20px;
    width:45px;    
    padding: 5px;
    font-size: 15px;
    border: 1px solid #B8BBC0;
    cursor: pointer;
}

#sidebar-left-data-selection-submitbtn {
    border: 1px solid #1E1E1E;
    background: #E3E3E3;
    padding-bottom: 3px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    width: 78px;
    cursor: pointer;
}

#sidebar-left-data-selection-getlinkbtn {
    border: 1px solid #1E1E1E;
    background: #E3E3E3;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    width: 90px;
    cursor: pointer;
}

/* main container for module */
#wrapper { 
    width: 100%; 
    margin: 0px; 
    padding: 0px;
    /*min-height: 450px;*/
}

#wrapper-index {
    width: 100%;
    margin-left: 0px; 
    min-height: 650px;    
    border-left: 1px solid #DADADA;
}


/**
 * content related stuff -----------------------------------------------
 */
 
#content-wrapper { 
    float: left; 
    width: 100%; 
    margin: 0px; 
    padding: 0px;
    display: block; 
    clear: both; 
    border: 0px;
}

.page-link {
    margin-top: 5px;
    cursor: pointer;
}

#content {
    left: 195px;
    right: 80px;
    height: 80%;
}

#site-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1A1A1A;
    opacity: 0.5;
    z-index: 10;
    display: none;
}

#container {
    position: absolute;
    top: 10px;
    left: 0px;
    height: 98%;
    width: 95%;
}

#chartSelection {
    position: absolute;
    right:0px;
    top: 40px;
    bottom: 0px;
    width: 56px;
    height: 90%;
    border-left: 1px solid #D8D8D8;
}

#chartSelection-container {
    position: absolute;
    right:5px;
    top: 20px;
    width: 50px;
}

.chartSelectionItem {
    float: none;
    width: 35px;
    margin-top: 20px;
    margin-left: 10px;
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    cursor: pointer;
}

.cubeViz-h2-light {
    font-size: 12px;
}


/**
 * Dialogs -------------------------------------------------------------
 */
 
.dialog {
	z-index: 1000;
    position: absolute;
    top: 0px;
    left: 300px;
    height: 300px;
    width: 450px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: #EEEEEE;
    border: 1px solid #6A7D8C;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

.dialog-header {
	margin-top: 2px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dialog-header-label {
    float: left;
    font-size: 16px;
    font-family: verdana;
    font-weight: bold;
    color: #545454;
	margin-top: 3px;
    margin-left: 0px;
}

.dialog-header-label-warning {
    float: left;
    font-size: 12px;
    font-weight: normal;
    color: #A52A2A;
    margin-top: 5px;
    margin-left: 15px;
    display: none;
}

/**
 * This is the submit button actually
 * naming need refactoring!
 */
.dialog-btn-close {
    float:right;
    margin-top: 3px;
    border: 1px solid #BFBFBF;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 5px;
    cursor: pointer;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

.dialog-components {
    margin-top: 30px;
    height: 90%;
    width: 100%;
    background-color: #FFFFFF;
    overflow-y:scroll;
}

.dialog-components ul {
    list-style-type: none;
    margin-left: -5px; 
}

.dialog-components li {
    margin-bottom: 5px;
}

/*********************
 * Dimension Options *
 *********************/
 
.dialog-options-dimension {
    z-index: 1000;
    position: absolute;
    top: 170px;
    left: 500px;
    height: auto;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: #EEEEEE;
    border: 1px solid #6A7D8C;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

/**
 * This is the submit button actually
 * naming need refactoring!
 */
.dialog-options-dimension-btn-close {
    margin-top: 5px;
    float:right;
    border: 1px solid #BFBFBF;
    background-color: #FFFFFF;
    padding: 6px;
    cursor: pointer;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

/**************************
 * Measure options dialog *
 **************************/

.dialog-options-measure {
    position: absolute;
    top: 170px;
    left: 200px;
    height: auto;
    width: 250px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: #EEEEEE;
    border: 1px solid #6A7D8C;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

/**
 * This is the submit button actually
 * naming need refactoring!
 */
.dialog-options-measure-btn-close {
    float:right;
    margin-top: 30px;
    margin-right: 30px;
    border: 1px solid #BFBFBF;
    background-color: #FFFFFF;
    padding: 6px;
    cursor: pointer;
}

.dialog-options-dimension-items-floatblock {
    float: left;
    margin-right: 10px;
}
 
.chart-table {
    border-spacing: 0px;
	border-collapse: separate;
    width: 90%;
}
 
.chart-table th {
    font-weight: bold;
    border-bottom: 1px solid #000000;
    text-align: center;
}
 
.chart-table tr {
}

.chart-table tr:hover {
    background-color: #F1FBFD;
}
 
.chart-table td {
    font-weight: normal;
    border-bottom: 1px solid #000000;
    text-align: center;
    padding: 5px;
}

/**
 * Left panel - "Data Selection"
 */
 

#content-wrapper { 
    float: left; 
    width: 100%; 
    margin: 0px; 
    padding: 0px;
    display: block; 
    clear: both; 
    border: 0px;
}

#sidebar-left-arrow {
    position: absolute;
    top: 140px;
    left: 205px;
}

#sidebar-left-arrow img {
    height: 12px;
}

#sidebar-right-arrow {
    position: absolute;
    top: 140px;
    left: 8px;
    display: none;
}

#sidebar-right-arrow img {
    height: 12px;
}

#sidebar-left { 
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
    bottom: 0px;
    border-right: 1px solid #D8D8D8;
    background-color: #EEEEEE;
    
    z-index: -1;
}


/* Data Selection */
 
#sidebar-left-data-selection {
    margin-top: 5px;
    margin-left: 15px;
    width: 201px;
    background-color: #FBFFFF;
    
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
}

#sidebar-left-data-selection-wrapper {
    background-color: #FBFFFF;
    padding-left: 13px;
    padding-top: 0px;
    padding-bottom: 13px;
}

#sidebar-left-data-selection-title {
    font-size: 12px;
}

#sidebar-left-data-selection-strcsets {
    margin-top: 55px;
    clear: both;
}

#sidebar-left-data-selection-strc {
    margin-top: 6px;
    font-size: 11px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    border: 1px solid #B8BBC0;
    background-color: #EBEBEB;
    padding: 4px;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

#sidebar-left-data-selection-strc:hover,
#sidebar-left-data-selection-sets:hover {
    background-color: #E6E3E3;
}

#sidebar-left-data-selection-sets {
    margin-top: 5px;
    font-size: 11px;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    border: 1px solid #B8BBC0;
    background-color: #EBEBEB;
    padding: 4px;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

#sidebar-left-data-selection-dims {
    margin-top: 20px;
}

#sidebar-left-data-selection-dims-boxes {
    margin-top: -5px;    
    border: 0;
    height: auto;
}

input.sidebar-left-data-selection-dims-box {
    float:left;
    margin-top: 20px;
}

.sidebar-left-data-selection-dims-box-seperator {
    margin-top: 10px;
    clear: both;
}

.sidebar-left-data-selection-dims-box-lblabs {
    margin-left: 10px;
}

.sidebar-left-data-selection-dims-box-label {
    font-size: 11px;
    color: #5C5D5F;
    float: left;
    margin-bottom: 20px;
    text-transform:capitalize;
}

.sidebar-left-data-selection-dims-box-abstract {
    font-size: 10px;
    color: #829BB9;
    cursor: pointer;
}

.open-dialog-selector {
    vertical-align: middle;
}

.sidebar-left-data-selection-dims-box-abstract-img,
.sidebar-left-data-selection-meas-box-abstract-img {
    width: 12px;
    float: left;
    margin-left: 10px;
    vertical-align: middle;
}


/** Measure */
 
#sidebar-left-data-selection-meas {
    padding-top:15px;
    clear: both;
}

.sidebar-left-data-selection-meas-box-seperator {
    margin-top: 5px;
    clear: both;
}

.sidebar-left-data-selection-meas-box {
    float: left;
}

.sidebar-left-data-selection-meas-box-label {
    float: left;
    font-size: 11px;
    margin-top: 3px;
    margin-left: 10px;
    color: #5C5D5F;
}

.sidebar-left-data-selection-meas-box-abstract {
    font-size: 10px;
    margin-top: 3px;
    margin-left: 10px;
    color: #829BB9;
    cursor: pointer;
}

#sidebar-left-data-selection-submitbtn-box {
    clear: both;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
}

#sidebar-left-data-selection-getlinkbtn-box {
    clear: both;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
}

#sidebar-left-data-selection-submitbtn {
    background-color: #536D88;
    border: 0;
    color: #F5F5F5;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

#sidebar-left-data-selection-getlinkbtn {
    background-color: #536D88;
    border: 0;
    color: #F5F5F5;
    /* CSS3 (Webkit) */
    border-top-left-radius: 10px 5px;
    border-bottom-left-radius: 10px 5px;
    border-bottom-right-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    /* FF3.5+ */
    -moz-border-radius-topleft: 10px 5px;
    -moz-border-radius-bottomleft: 10px 5px;
    -moz-border-radius-bottomright: 10px 5px;
    -moz-border-radius-topright: 10px 5px;
}

/* -------------------------------------------------------------------*/

#panel-separator {
    width: 64px;
    height: 20px;
    border: 1px #565656 solid;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

#panel-table {
    width: 90%;
    display: none;
    height: 100px;
}

.row {
    clear: both;
}

.row-top-left-corner {
    float: left;
    margin: 2px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 3px;
    width: 30%;
}

.row-head {
    float: left;
    border: 1px solid #000000;
    margin: 1px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 2px;
    width: 30%;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

.column-head {
    float: left;
    border: 1px solid #000000;
    margin: 1px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    width: auto;
    min-width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.column {
    float: left;
    border: 1px solid #000000;
    margin: 1px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 100px;
    max-width: 100px;
    min-height: 20px;
    max-height: 20px;
    text-align: center;
    font-size: 11px;
}
