/**
 * Main container
 */
#cubeviz-compare-container
{
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    width: 98%;
    min-width: 98%;
    max-width: 98%;
    
    height: 650px;
    min-height: 800px;
    max-height: 800px;
    
    overflow-x: auto;
    overflow-y: visible;
    
    clear: both;
}


/**
 * Data selection
 */
.cubeviz-compare-datasetSelection
{
    width: 20em;
}

.cubeviz-compare-dataSelection-colorBox
{
    width: 35px; 
    min-width: 35px; 
    height: 35px; 
    min-height: 35px;
    
    margin-right: 10px;
    
    float: left;
}

#cubeviz-compare-datasetSelectionDiv1
{
    display: none;
}

#cubeviz-compare-datasetSelectionDiv2
{
    display: none;
}


/**
 * 
 */
.cubeviz-compare-equalDimension
{
    float: left;
    margin-right: 50px;
}

.cubeviz-compare-equalDimensions
{
    width: auto;
}

#cubeviz-compare-equalDimensions1
{
    display: none;
    width: auto;
}

#cubeviz-compare-equalDimensions2
{
    display: none;
    width: auto;
}


/**
 * 
 */ 
.cubeviz-compare-informationPieceBox
{
    float: left;
    text-align: center;

        width: 66px;
    min-width: 66px;
    max-width: 66px;
    
    padding-left: 5px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 2px;
    
    font-size: 10px;
    
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
    
    background-color: #fff;
    border: 1px solid #909090;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.cubeviz-compare-informationPieceBoxImage
{
    width: 100%; 
    text-align: center; 
    font-size: 22px;
}


/**
 * General dataset information
 */
.cubeviz-compare-generalDatasetInformation
{
    display: none;
    width: 30em;
    min-width: 30em;
}

.cubeviz-compare-generalInformationSeparator
{
    clear: both;
    padding-bottom: 5px;
}


/**
 * Model selection
 */
.cubeviz-compare-modelSelection
{
    width: 20em;
}


/**
 * 
 */
.cubeviz-compare-unequalDimension
{
    float: left;
    margin-right: 50px;
}
 
.cubeviz-compare-unequalDimensions
{
    width: auto;
    min-width: 250px;
}

#cubeviz-compare-unequalDimensions1
{
    display: none;
}

#cubeviz-compare-unequalDimensions2
{
    display: none;
}

 
/**
 * 
 */
.cubeviz-compare-warningBox
{
    width: 240px;
        
    background-color: #f2dede;
    
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 5px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    
    margin-left: 0px;
}
