/**
 * 
 */
#cubeviz-compare-container
{
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    width: 98%;
    min-width: 98%;
    max-width: 98%;
    
    height: 820px;
    min-height: 800px;
    max-height: 800px;
    
    overflow-x: auto;
    overflow-y: visible;
    
    clear: both;
}


/**
 * 
 */
.cubeviz-compare-datasetSelection
{
    width: 20em;
}

.cubeviz-compare-dataSelection-colorBox
{
    width: 35px; 
    min-width: 35px; 
    height: 35px; 
    min-height: 35px;
    
    margin-right: 10px;
    
    float: left;
}

#cubeviz-compare-datasetSelectionDiv1
{
    display: none;
}

#cubeviz-compare-datasetSelectionDiv2
{
    display: none;
}


/**
 * 
 */
.cubeviz-compare-modelSelection
{
    width: 20em;
}


/**
 * 
 */
.cubeviz-compare-warningBox
{
    width: 240px;
        
    background-color: #f2dede;
    
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 5px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    
    margin-left: 0px;
}
