/**
 * 
 */
#cubeviz-compare-container
{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    width: 98%;
    min-width: 800px;
    
    height: auto;
}


/**
 * 
 */
#cubeviz-compare-datasetSelection
{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #BFBFBF;
}

.cubeviz-compare-dataSelection-colorBox
{
    width: 35px; 
    min-width: 35px; 
    height: 35px; 
    min-height: 35px;
    
    margin-right: 10px;
    
    float: left;
}


/**
 * 
 */
#cubeviz-compare-introduction
{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #BFBFBF;
}


/**
 * 
 */
#cubeviz-compare-modelSelection
{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #BFBFBF;
}

#cubeviz-compare-modelSelection-headline
{
    font-size: 20px;
}

#cubeviz-compare-modelSelection-leftContainer
{
    float: left;
}

#cubeviz-compare-modelSelection-rightContainer
{
    float: right;
}


/**
 * 
 */
.cubeviz-compare-warningBox
{
    background-color: #f2dede;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 5px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    
    margin-left: 0px;
}
