/**
 * Questionmark next to Model label
 */
#cubeviz-index-headerQuestionMarkHeadline {
    cursor: pointer;
    opacity:0.6;
    filter:alpha(opacity=60);
}

#cubeviz-index-headerQuestionMarkHeadline:hover {
    cursor: pointer;
    opacity:0.8;
    filter:alpha(opacity=80);
}
