/**
 * Questionmark next to Model label
 */
#cubeviz-index-headerQuestionMarkHeadline {
    cursor: pointer;
    opacity:0.2;
    filter:alpha(opacity=20);
}

#cubeviz-index-headerQuestionMarkHeadline:hover {
    cursor: pointer;
    opacity:0.5;
    filter:alpha(opacity=50);
}
