#cubeviz-visualizationselector-selector
{
    position: absolute;
    right: 20px;
    top: 35px;
    width: auto;
    height: 25px;
    padding-top:  5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.cubeviz-visualizationselector-selectorItem, 
    .cubeviz-visualizationselector-selectedSelectorItem
{
    opacity: 0.7;
    filter: alpha(opacity=70);
    margin-left: 4px;
}

.cubeviz-visualizationselector-selectorItem:hover
{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.cubeviz-visualizationselector-selectedSelectorItem
{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

/**
 * Menu
 */
#cubeviz-visualizationselector-menu
{
    display: none;
    position: absolute;
    z-index: 101;
    padding: 10px;
    width: 220px;
    height: auto;    
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.31);
    border: 1px solid #C4C4C4;
    background-color: #F9F9F9;
}

#cubeviz-visualizationselector-menuHeader
{
    width: 100%;
    height: 30px;
    margin: 0px;
    padding-left: 3px;
    font-size: 13px;
    font-weight: bold;
}

.cubeviz-visualizationselector-menuSelectbox
{
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    border: 1px solid #CECECE;
}

/**
 * Menu dongle
 */
#cubeviz-visualizationselector-menuDongleDiv
{
    display: none;
    position: absolute;
    z-index: 100;
}

#cubeviz-visualizationselector-menuDongleImg
{    
    width: 40px;
    height: 5px;
}


