/**
 * Notification about empty chart
 */
#cubeviz-visualization-nothingFoundNotificationContainer
{
    display: none;
}

#cubeviz-visualization-nothingFoundBox
{
    height: 100%;
    width: 100%;
    margin-top: 8%;
}
 
#cubeviz-visualization-nothingFoundFurtherExplanation
{
    width: 50%;
    text-align: left;
    display: none;
}

#cubeviz-visualization-nothingFoundNotification
{
    width: 50%;
    text-align: left;
    font-weight: bold;
}

#cubeviz-visualization-nothingFoundNotificationLink
{
    text-align: left;
    cursor: pointer;
    font-style: italic;
    font-weight: normal;
}
